@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var banks = (List<PayGuardAdmin.Models.MBank>)ViewBag.banks;
}


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form action="~/Companies/CreateCompany" method="post" style="width:80%;margin:auto;">

                <h2>Create Company</h2>
                <br />
                <br />
                <br />
                <br />

                <h6>Company details</h6>
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" name="CompanyName" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span>CompanyName</small>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" name="ContactPerson" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span>ContactPerson</small>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" name="ContactMobile" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span>ContactMobile</small>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="email" class="form-control" name="ContactEmail" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span>ContactEmail</small>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control .chosen" name="EBankCode">
                                @foreach (var bank in banks)
                                {
                                    <option value="@bank.Id">@bank.BankName</option>
                                }
                            </select>
                            <small class="form-text text-muted"><span style="color:red;">*</span>Bank</small>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" name="BankAccountName" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span>BankAccountName</small>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" name="BankAccountNumber" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span>BankAccountNumber</small>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" name="BankBranchCode" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span>BankBranchCode</small>
                        </div>
                    </div>

                </div>

                <br />
                <br />
                <br />
                <br />
                <h6>Default user</h6>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="email" name="LoginEmail" class="form-control" required />
                            <small class="form-text text-muted"><span style="color:red;">*</span>Login Email</small>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" name="LoginPassword" value="Softrite#99" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span>Login Password</small>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" name="Name" class="form-control" required/>
                            <small class="form-text text-muted"><span style="color:red;">*</span>Name</small>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Surname" required>
                            <small class="form-text text-muted"><span style="color:red;">*</span>Surname</small>
                        </div>
                    </div>


                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>


        </div>
    </div>
</div>

