@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*highcharts*@
<link href="~/libs/highcharts/highcharts.css" rel="stylesheet" />
<script src="~/libs/highcharts/highcharts.js"></script>
<script src="~/libs/highcharts/highcharts-more.js"></script>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="card text-white bg-light mb-3">
                <div class="card-header" style="color:black;">Banks</div>
                <div class="card-body">
                    <div id="data"></div>
                </div>
            </div>
        </div>

    </div>


</div>

<script>
    $.ajax({
        url: "../Home/ajaxAllBanks",
        method: "get",
        success: function (data) {
            $("#data").html(data);
            $("#loader").hide();
        },
        error: function () {
            alert("Error fetching data");
            $("#loader").hide();
        },
    });
</script>