@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@*highcharts*@
<link href="~/libs/highcharts/highcharts.css" rel="stylesheet" />
<script src="~/libs/highcharts/highcharts.js"></script>
<script src="~/libs/highcharts/highcharts-more.js"></script>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">data</div>
                <div class="card-body">
                    <div id="chart1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">data</div>
                <div class="card-body">
                    <div id="chart2"></div>
                </div>
            </div>
        </div>
    </div>


</div>


<script type="text/javascript">
    Highcharts.chart('chart1', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Usage Stats'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Messages'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Messages Sent: <b>{point.y:.0f}</b>'
        },
        series: [{
            name: 'Population',
            data: [
                @Html.Raw(ViewBag.chart1data)
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
</script>

<script type="text/javascript">
    Highcharts.chart('chart2', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Requests Stats'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Requests'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Requests Sent: <b>{point.y:.0f}</b>'
        },
        series: [{
            name: 'Population',
            data: [
                @Html.Raw(ViewBag.chart2data)
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
</script>